*  { margin: 0;
    padding: 0;box-sizing:order-box;}

.container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items:flex-end;
    border: 4px black; 
    height: 600px;

}
.item{
    width: 250px;
    height: 250px;
    background-color: teal;
    color: white;
    text-align: center;
    border: 2px solid red;

}